.container {
    padding-top: 50px;
    background-color: rgba(161, 194, 155, 0.6);
    min-height: 450px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & input {
        display: block;
        width: 200px;
        height: 20px;
        color: #212529;
        background-color: #fff;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::placeholder {
            color: #212529;
            opacity: 0.4;
        }
        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #bdbdbd;
            outline: 0;
        }
    }
}

.wrapper {
    position: relative;
}
